body {
    background: url('https://wallpaperaccess.com/full/1923021.jpg') no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 240px;
}

input {
    width: 93%;
    padding: 10px;
    margin: 5px 0;
    border: 5px;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #5865F2;
    color: white;
    border: 5px;
    border-radius: 5px;
    cursor: pointer;
}
